<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link href="../../assets/images/avatar_xhmm.png" rel="icon" type="image/x-icon" />
    <title>课程推广</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" />
    <link rel="stylesheet" href="../../layui/css/soulTable.css" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="../../dist/animsition.min.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="../../dist/jquery.animsition.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <div class="layui-header">
        <div class="layui-logo layui-bg-white">
          <img
            src="../../assets/images/avatar_xhmm.png"
            class="layui-nav-img"
          />
          小狐妈妈运营后台
        </div>

        <ul class="layui-nav layui-layout-right layui-bg-white">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <img
                src="../../assets/images/avatar_xhmm.png"
                class="layui-nav-img"
              />
              admin
            </a>
            <dl class="layui-nav-child">
              <dd>
                <a class="logout">
                  <i class="layui-icon layui-icon-logout"></i>
                  退出登录
                </a>
              </dd>
            </dl>
          </li>
        </ul>
      </div>

      <!-- <div class="divider"></div> -->
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <div class="layui-side layui-bg-white">
        <div class="layui-side-scroll">
          <ul
            class="layui-nav layui-nav-tree"
            lay-filter="test"
            lay-shrink="all"
          >
            <li class="layui-nav-item">
              <a class="" href="javascript:;">
                <i
                  class="layui-icon layui-icon-template-1"
                  style="margin-right: 2px; color: rgb(97, 97, 97)"
                ></i>
                课程管理
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="../courseManage/courseManage.html">
                    <i
                      class="layui-icon layui-icon-read"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    课程管理
                  </a>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;">
                <i
                  class="layui-icon layui-icon-chart-screen"
                  style="margin-right: 2px; color: rgb(97, 97, 97)"
                ></i>
                课程运营
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="../courseOperation/courseRecommend.html">
                    <i
                      class="layui-icon layui-icon-read"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    课程推荐
                  </a>
                </dd>
                <dd class="layui-this">
                  <a href="javascript:;">
                    <i
                      class="layui-icon layui-icon-user"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    课程推广
                  </a>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;">
                <i
                  class="layui-icon layui-icon-list"
                  style="margin-right: 2px"
                ></i>
                产品运营
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="../productOperation/paperOperation.html">
                    <i
                      class="layui-icon layui-icon-dialogue"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    文案运营
                  </a>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>

      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 10px 30px" class="animsition">
          <span class="layui-breadcrumb">
            <a href="" class="animsition-link">课程运营</a>
            <a><cite>课程推广</cite></a>
          </span>
          <!-- 焦点图 -->
          <div class="title">焦点图</div>
          <table id="focusPic" class="layui-table">
            <thead>
              <tr>
                <th>场景id</th>
                <th>场景名称</th>
                <th>场景状态</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in focusPicData" :key="item.id" :data-rowindex="index + 1">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td :style="item.status==1?'color: #3a9bfc':''">
                  {{item.status==1?'已上线':'未上线'}}
                </td>
                <td>{{item.createTime}}</td>
                <td>{{item.updateTime}}</td>
                <td>
                  <a 
                    class="layui-btn layui-btn-radius layui-btn-xs"
                    @click="edit($event)"
                  >编辑</a>
                  <a 
                    class="layui-btn layui-btn-radius layui-btn-xs" 
                    :style="item.status==1?'background-color: #ff2222':'background-color: #FFB800'"
                    @click="upOrDown(item.status, index)"
                  >{{item.status==1?'下线':'上线'}}</a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- 课程模块 -->
          <div class="title">课程模块</div>
          <table id="courseModule" class="layui-table">
            <thead>
              <tr>
                <th>场景id</th>
                <th>场景名称</th>
                <th>场景状态</th>
                <th>创建时间</th>
                <th>修改时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in courseData" :key="item.id" :data-rowindex="index + 1">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td :style="item.status==1?'color: #3a9bfc':''">
                  {{item.status==1?'已上线':'未上线'}}
                </td>
                <td>{{item.createTime}}</td>
                <td>{{item.updateTime}}</td>
                <td>
                  <a 
                    class="layui-btn layui-btn-radius layui-btn-xs"
                    @click="edit($event)"
                  >编辑</a>
                  <a 
                    class="layui-btn layui-btn-radius layui-btn-xs" 
                    :style="item.status==1?'background-color: #ff2222':'background-color: #FFB800'"
                    @click="upOrDown(item.status, index)"
                  >{{item.status==1?'下线':'上线'}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 引入的js -->
    <script src="../../layui/layui.all.js"></script>
    <script type="module" src="../common.js"></script>
    <script type="module" src="./js/coursePopularize.js"></script>
  </body>
</html>
