<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../assets/images/avatar_xhmm.png" rel="icon" type="image/x-icon" />
    <title>课程推广</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./css/sceneEdit.css" />
    <link rel="stylesheet" href="../../dist/animsition.min.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="../../dist/jquery.animsition.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <div class="layui-header">
        <div class="layui-logo layui-bg-white">
          <img
            src="../../assets/images/avatar_xhmm.png"
            class="layui-nav-img"
          />
          小狐妈妈运营后台
        </div>

        <ul class="layui-nav layui-layout-right layui-bg-white">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <img
                src="../../assets/images/avatar_xhmm.png"
                class="layui-nav-img"
              />
              admin
            </a>
            <dl class="layui-nav-child">
              <dd>
                <a class="logout">
                  <i class="layui-icon layui-icon-logout"></i>
                  退出登录
                </a>
              </dd>
            </dl>
          </li>
        </ul>
      </div>

      <!-- <div class="divider"></div> -->
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <div class="layui-side layui-bg-white">
        <div class="layui-side-scroll">
          <ul
            class="layui-nav layui-nav-tree"
            lay-filter="test"
            lay-shrink="all"
          >
            <li class="layui-nav-item">
              <a class="" href="javascript:;">
                <i
                  class="layui-icon layui-icon-template-1"
                  style="margin-right: 2px; color: rgb(97, 97, 97)"
                ></i>
                课程管理
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="../courseManage/courseManage.html">
                    <i
                      class="layui-icon layui-icon-read"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    课程管理
                  </a>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;">
                <i
                  class="layui-icon layui-icon-chart-screen"
                  style="margin-right: 2px; color: rgb(97, 97, 97)"
                ></i>
                课程运营
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="../courseOperation/courseRecommend.html">
                    <i
                      class="layui-icon layui-icon-read"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    课程推荐
                  </a>
                </dd>
                <dd class="layui-this">
                  <a href="javascript:;">
                    <i
                      class="layui-icon layui-icon-user"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    课程推广
                  </a>
                </dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;">
                <i
                  class="layui-icon layui-icon-list"
                  style="margin-right: 2px"
                ></i>
                产品运营
              </a>
              <dl class="layui-nav-child">
                <dd>
                  <a href="../productOperation/paperOperation.html">
                    <i
                      class="layui-icon layui-icon-dialogue"
                      style="margin-left: 15px; margin-right: 2px"
                    ></i>
                    文案运营
                  </a>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>

      <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 10px 30px" class="animsition">
          <!-- 面包屑 -->
          <span class="layui-breadcrumb">
            <a href="./coursePopularize.html" class="animsition-link">课程运营</a>
            <a href="./coursePopularize.html" class="animsition-link">课程推广</a>
            <a><cite>场景编辑</cite></a>
          </span>
          <!-- 编辑表格 -->
          <div id="sceneEdit">
            <!-- type == 1 -->
            <table v-if="type==1" class="layui-table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>课程</th>
                  <th>推广标题</th>
                  <th>推广封面图</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody class="sortable" :key="tableKey">
                <tr v-for="(item, index) in sceneDetail" :key="index" :data-rowindex="index + 1">
                  <!-- 序号 -->
                  <td>{{item.position}}</td>
                  <!-- 课程下拉框 -->
                  <td>
                    <input placeholder="请选择(支持检索)" list="course" :id="item.id" v-model="item.courseName" @change="courseChange($event, index)">
                    <datalist id="course">
                        <option v-for="option in courseAll" :value="option.name">
                    </datalist>
                  </td>
                  <!-- 推广标题可编辑 -->
                  <td>
                    <input placeholder="请输入标题" type="text" v-model="item.title" @change="dataChange(index)" />
                  </td>
                  <!-- 推广封面图 -->
                  <td>
                    <div class="course-img">
                      <img :src="item.coverUrl" alt="请选择图片" />
                      <div class="course-img-btn">
                        <label class="change-btn" type="button">                                                    
                          <span id="changeSpan" class="changeSpan">替换</span>
                          <input type="file" @change="changePic($event, index)"/>
                        </label>
                      </div>
                    </div>            
                  </td>
                  <!-- 操作按钮 -->
                  <td>
                    <a 
                    class="layui-btn layui-btn-radius layui-btn-xs layui-btn-danger"
                    @click="delRow(index)"
                    >删除</a>
                  </td>
                </tr>
              </tbody>
            </table>  
            <!-- type == 2 -->
            <table v-else-if="type==2" class="layui-table">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>分类标题</th>
                  <th>课程</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody class="sortable" :key="tableKey">
                <tr v-for="(item, index) in sceneDetail" :key="index" :data-rowindex="index + 1">
                  <!-- 序号 -->
                  <td>{{item.position}}</td>
                  <!-- 分类标题可编辑 -->
                  <td>
                    <input placeholder="请输入模块标题" type="text" v-model="item.name" @change="dataChange(index)" />
                  </td>
                  <!-- 课程下拉框和已有课程 -->
                  <td>
                    <input placeholder="请选择(支持检索)" list="courseList" :id="index" @change="selectChange($event, index)" >
                    <datalist id="courseList">
                        <option v-for="option in courseAll" :value="option.name">
                    </datalist>
                    <div 
                      class="layui-btn-container"
                    >
                      <button
                        v-for="list in item.courseList"
                        :key="list.id"
                        :data-index="list.position"
                        class="layui-btn layui-btn-radius layui-btn-primary layui-btn-sm"
                      >{{list.name}}<i @click="closeTag(item.position ,list.position)" class="layui-icon layui-icon-close tag-close"></i></button>
                    </div>
                  </td>
                  <!-- 操作按钮 -->
                  <td>
                    <a 
                    class="layui-btn layui-btn-radius layui-btn-xs layui-btn-danger"
                    @click="delRow(index)"
                    >删除</a>
                  </td>
                </tr>
              </tbody>
            </table> 
            <!-- 底部按钮 -->
            <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 15px;
            "
          >
              <!-- 添加按钮 -->
              <div>
                <a
                  type="button"
                  class="layui-btn layui-btn-normal layui-btn-radius"
                  @click="addRow"
                >
                  <i class="layui-icon">&#xe608;</i> 添加
                </a>
              </div>
              <!-- 确定取消按钮 -->
              <div style="margin-top: 20px">
                <a
                  href="./coursePopularize.html"
                  type="button"
                  class="layui-btn layui-btn-primary"
                >
                  取消
                </a>
                <a type="button" class="layui-btn layui-btn-normal" @click="sendRequest" > 确定 </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 引入的js -->
    <script src="../../layui/layui.all.js"></script>
    <script type="module" src="../common.js"></script>
    <script type="module" src="./js/sceneEdit.js"></script>
  </body>
</html>
