.layui-bg-white {
    background-color: white;
}

.divider {
    width: 100vw;
    height: 1px;
    background-color: #ccc;
}

/* header 背景 */
.layui-layout-admin .layui-header {
    background-color: #fff;
}
/* 左上角logo */
.layui-layout-admin .layui-logo {
    color: #fc204f;
}
/* 右上角 */
.layui-nav .layui-nav-item a {
    color: black;
}
/* 导航栏底部bar的颜色 */
.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
    background-color: #fc204f;
}
/* 鼠标经过导航栏字体颜色 */
.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
    color: black;
}
/* 左侧栏 */
.layui-side {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc ;
    text-align: center;
}
.layui-nav {
    background-color: #fff;
}
/* 选中的导航标题字体颜色 */
.layui-nav-tree .layui-nav-itemed a{
    color: black !important;
} 
.layui-nav-tree .layui-nav-item a:hover{
    background-color: #fa6b8aaf;
}
.layui-nav-itemed>.layui-nav-child {
    background-color: rgb(243, 239, 239) !important;
}
.layui-nav-tree .layui-nav-bar {
    background-color: #fc204f;
}

